<!DOCTYPE html>
<html lang="zh-CN">
  <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            var tempflitervaluejson ="";
            </script><div class="col-md-12 col-xs-12">
           <link rel="stylesheet" href="/static/css/select2.css" type="text/css">
           <link rel="stylesheet" href="/static/css/select2-bootstrap.css" type="text/css">
           <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css" type="text/css">
           <link rel="stylesheet" href="/static/css/filter.css" type="text/css">                      
  </head>
  <body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li class="active">
                         <a href="#">首页</a>
                    </li>
                    <li>
                         <a href="#">简介</a>
                    </li>
                    <li class="disabled">
                         <a href="#">信息</a>
                    </li>
                </ul>
                <div class="jumbotron">
                    <h1>
                        小工具平台
                    </h1>
                    <p>
                        python小工具尝试
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">了解更多</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-4 column">
                <div class="jumbotron">
                    <h3>
                      缺陷项目移动  
                    </h3>
                    <p>
                        快速移动你要的缺陷项目到指定位置
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">操作</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="jumbotron">
                    <h3>
                        缺陷移动
                    </h3>
                    <p>
                        快速移动你要的缺陷到指定位置
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">操作</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 column">
                <div class="jumbotron">
                    <h3>
                        开发人员部门添加
                    </h3>
                    <p>
                        快速添加部门为null的开发人员对应的部门信息
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">操作</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>